/* Css styles */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,500&family=Montserrat:wght@300;400;700&family=Quicksand:wght@600&family=Roboto:wght@500;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}